body {
    font-family: alegreya, "Comic Sans MS", serif;
    font-size: 20px;
}

#title {
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translate(-50%);
    font-size: 50px;
}

#main_text {
    position: relative;
    top: 100px;
}

@font-face {
    font-family: alegreya;
    src: url("../src/Alegreya.ttf");
}